<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <% if current_user.blank? %>	
	  <div class="field">
		<%= f.label :user_id %><br />
		<%= f.collection_select :user_id, User.all, :id, :name %>
	  </div>
  <% else %>
	  <div class="field">
		<%= f.hidden_field :user_id, value: current_user.id %><br />
		
	  </div>
  
  <% end %>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
