<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "OmniTest" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>



<header>
<div class="navbar ">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">PGD</a>
		
        <div class="nav-collapse">
			
			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse collapse">
			  
			  
				<div class="navbar-form pull-right">
					 
						<% if current_user %>
							
							SignedIn as <%= current_user.name %>!
							<%= link_to "signOut", signout_path %>
						<% else %>
							<div class="form-inline">
									<%= form_tag "/auth/identity/callback", { :class => "form-inline"} do %>
									<div style="margin:0;padding:0;display:inline">
									
									
									
										<%= text_field_tag :auth_key %>
										<%= password_field_tag :password %>
										 <%= submit_tag "Login",  { :class => "btn btn-primary", :id => "btnsubmit", :type => "submit"} %> 
										<!-- <input class="btn btn-primary" name="commit" type="submit" value="Login" /> -->
									</div>
									
									<!-- Button to trigger modal -->
								<a href="#myModal" role="button" class="btn" data-toggle="modal">Scl</a>
								
								<% end %>
								
								
									
									


							</div>
							
						<% end %>
			
			
					
				</div>
			  
			</div>
		
		
      </div>
    </div>
</div>

</header>




<body>


<div class="container">
<h1></br></h1>



    
     
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Connx</h3>
		</div>
		
		<div class="modal-body">
			<div class="container">
				<div class="row">
					<div class="span4">
					<h4>Scl</h4>
					<ul>
						<li><%= link_to "Tw", "/auth/twitter" %></li>
						<li><%= link_to "Fcbk", "/auth/facebook" %></li>
						<li><%= link_to "Googl", "/auth/google_oauth2" %></li>
					</ul>
					</div>
					
					<div class="span6">
					<h4>Inscription</h4>
					<%= link_to "SignUp", new_identity_path %>
					</div>
				</div>
			</div>
		</div>
	
    </div>
	   <!-- END modal -->
	
	
	

	<div class="row">
		<div class="span8">
			<div class="input-prepend input-append ">
				<div class="btn-group span2">
					<button class="btn dropdown-toggle" data-toggle="dropdown">
						Critères
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>Secteur</li>
						<li>Modeuses</li>
						<li>Type de document</li>
					</ul>
				</div>
			
				<input class="span3" id="appendedInputButtons" type="text" placeholder="Rechercher doc: par ex, Python">
				<button class="btn" type="button">Rechercher</button>
				<button class="btn" type="button">Options</button>
			</div>
		</div
			
			<div class="span3">
				<button class="btn btn-large btn-custom-lighten span3" type="button">+ AJOUTER DOC ICI</button>
			</div
</div>












	<div id="container"> 
	
	
		<h1></h1>
		
					
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
	<%= yield %>
	</div>
</div>
</body>
</html>
